{% extends "base.html" %}


{% block content %}
<div class="m-post m-post-photo">
        <div class="posthead"></div>
        <div class="postbody">
            <div class="f-clear content">
                <div class="about-wrap f-iblock" style="width: 100%">
                    <div class="text">
                        <p>只是占个地方吧</p>
                        <p>其实并没有想好写什么</p>
                        <p>其实这个页面不是应该最后写的吗</p>
                        <p>等我先把js写完</p>
                        <p>一定补上一段美美的文字来，嗯。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="postfoot"></div>
</div>
{% endblock %}