<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Bella">
    <title>{% block title %}{% endblock %}</title>
    <!-- Custom CSS -->
    <link href="/statics/css/stream_all.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
</head>

<body>
    <div class="page-container">
        <div class="header">
            <!-- Navigation -->
            <a class="header-photo" hidefocus="true" href="/">
            </a>
            <div class="header-title"><a hidefocus="true" href="/">bellastream</a></div>
            <nav class="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="collapsed-navbar" style="visibility: hidden;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">BellaStream</a>
                </div>
                <div class="naviwrap">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="f-iblock navibar">
                        <div class="f-iblock navitm">
                            <span class="sep">－</span>
                            <a hidefocus="true" href="/" class="nav-btn">Home</a>
                        </div>
                        <div class="f-iblock navitm">
                            <span class="sep">－</span>
                            <a hidefocus="true" href="/blog" class="nav-btn">Blog</a>
                        </div>
                        <div class="f-iblock navitm">
                            <span class="sep">－</span>
                            <a hidefocus="true" href="/music" class="nav-btn">Music</a>
                        </div>
                        <div class="f-iblock navitm">
                            <span class="sep">－</span>
                            <a hidefocus="true" href="/about" class="nav-btn">About</a>
                        </div>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <div class="navbottom">&nbsp;</div>
            </nav>
        </div>
        <!-- Page Content -->
        <div class="container">
            <div class="main">
                {% block content %}{% endblock %}
            </div>
            <div>&nbsp;</div>
            <!-- Footer -->
        </div>
        <div class="footer">
            <div class="m-copyr"><span class="copyr">© <a href="http://BellaStream.com/">BellaStream.com</a><span class="sep"> / </span>-京ICP备15014487号-2015  傲娇的在自己胡写一切</span>
            </div>
        </div>        
        
    </div>
    <!-- jQuery Version 1.11.0 -->
    <script src="/statics/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core JavaScript 
    <script src="/statics/js/bootstrap.min.js"></script>
    -->
</body>

</html>