{% extends "base.html" %}
{% block title %}Bella's Blog{% endblock %}
{% block content %}
<div class="g-postlist">
    {% for post in posts.object_list %}
    <div class="m-post m-post-photo">
        <div class="posthead"></div>
        <div class="postbody">
            <div class="otherinfo">
                <a href="{{ post.id }}/" class="post-title" hidefocus="true">{{ post.title }}</a>
                <span class="time" hidefocus="true">{{ post.create_time }}</span>
            </div>
            <div class="f-clear content">
                <div class="wrap">
                    {% if post.image %}
                    <div class="img">
                        <a href="/media/{{ post.image }}">
                            <img src="post.image">
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="text">
                    {% autoescape off %}
                    {{ post.content | truncatechars_html:350 | safe }}
                    {% endautoescape %}
                </div>
            </div>
            
        </div>
        <div class="postfoot"></div>
    </div>
    {% endfor %}
    <div class="m-pager">
        {% if posts.has_previous %}
        <div class="page prev">
            <a href="?page={{ posts.previous_page_number }}" class="f-icon">&nbsp;</a>
        </div>
        {% else %}
        <div class="page prev">
            <a href="#" onclick="return false;" class="f-icon js-disable">&nbsp;</a>
        </div>
        {% endif %}
        {% if posts.has_next %}
        <div class="page next">
            <a href="?page={{ posts.next_page_number }}" class="f-icon" >&nbsp;</a>
        </div>
        {% else %}
        <div class="page next">
            <a href="#" onclick="return false;" class="f-icon js-disable" >&nbsp;</a>
        </div>
        {% endif %}
        <div class="pagenum">
            <a class="curnum" hidefocus="true" href="#"></a>
            <span class="sep">|</span>
            <span class="totalnum"></span>
        </div>
    </div>
</div>

{% endblock %}