{% extends "base.html" %}
{% block title %}{% endblock %}  
{% block content %}
        <!-- Blog Post Content Column -->
       	<div class="col-lg-8">
              <!-- Blog Post -->
                <!-- Title -->
    	        <h1>{{ post.title }}</h1>
            	<!-- Author -->
            	<p class="lead">
                	by <a href="/">BellaStream</a>
				</p>
            	<hr>
            	<!-- Date/Time -->
            	<p><span class="glyphicon glyphicon-time"></span>{{ post.timestamp }}</p>
            	<hr>
            	<!-- Preview Image
            	<img class="img-responsive" src="http://placehold.it/900x300" alt="">
            	-->
				<hr>
            	<!-- Post Content -->
		{% autoescape off %}
		{{ post.body }}
		{% endautoescape %}
            	<hr>
            <!-- Blog Comments -->
			<!-- Posted Comments -->
            <!-- Comment -->
            {% for comt in comments %}
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">{{ comt.author }}
                        <small>{{ comt.timestamp }}</small>
                    </h4>
                    {{ comt.body }}
                </div>
            </div>
        	{% endfor %}
        	<hr>
            	<!-- Comments Form -->
            	<div class="well">
                	<h4>Leave a Comment:</h4>
                	<form role="form" action="?" method="POST">
                		{% csrf_token %}        
                    	<div class="form-group">
                    			<p>{{ form.name.label_tag }} {{ form.name }}</p>
         						<p>{{ form.email.label_tag }} {{ form.email }}</p>
                        		<p>{{ form.message }}</p>
                    	</div>
                    	<button type="submit" class="btn btn-primary">Submit</button>
                	</form>
              </div>
        </div>

{% endblock %}
