{% extends "base.html" %}
{% block title %}BellaStream.com{% endblock %}  
{% block content %}
    <div class="m-post m-post-photo">
        <div class="posthead"></div>
        <div class="postbody">
            <div class="f-clear content">
                <div class="index-wrap f-iblock">
                    <div class="text" style="width: 50%; float:left;">
                        <p>我在期待着一个开始</p>
                        <p>却又哀伤着另一件事情的终结</p>
                        <p>就像被挤入了时间线的夹缝里</p>
                        <p>不能进退</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p class="f-right">——2015 夏。</p>
                    </div>
                    <div class="img" style="width: 50%; float:right">
                        <a href="/statics/img/home_pic.jpg">
                            <img src="/statics/img/home_pic.jpg">
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="postfoot"></div>
    </div>
{% endblock %}
