{% extends "base.html" %}
{% block title %}BellaStream.com{% endblock %}  
{% block content %}
		<!-- Blog Post Content Column -->
            <div class="col-lg-8">
		        <!-- Project One -->
		        <div class="row">
			<!--
		            <div class="col-md-7">
		                <a href="#">
		                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
		                </a>
		            </div>
			-->
		            <div class="col-md-5">
		                <h3>Hello World!</h3>
		                <h4></h4>
				<p>2014.10.19   可以写评论啦！拖了好长时间终于上线啦！</p>
		                <p>Hey, friends.This is Bella.</p>
				<p>最近总觉得自己太弱了，好像什么都不会，于是十一假期在家，除了看Friends和打打游戏(T_T难道不是应该只学习的！)，就学了学Django然后搭了这么个玩意。基本功能都还没有。。慢慢来吧。新申请了一个github帐号，（作为一个码农你敢没有github帐号啊喂！！），把源码都丢上去了。</p>
		                <a class="btn btn-primary" href="https://github.com/bellastream/">GitHub<span class="glyphicon glyphicon-chevron-right"></span></a>
		            </div>
		        </div>
		        <!-- /.row -->
		
        	</div>
{% endblock %}
